@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centrado">
    @RenderBody()
</div>

<form action='@Url.Action("Habitacion")' class="centrado">
    <p>
        <input type="hidden" name="sala" value="@ViewData["Number"]">
        @if (ViewBag.Error != null)
        {
            <input type="text" name="clave" placeholder="@ViewBag.Error" autocomplete="off" required>
            <input class="rebotado" type="submit" value="🔒">
        } else {
            <input type="text" name="clave" placeholder="Clave" autocomplete="off" required>
            <input type="submit" value="🔒">
        }
    </p>
    <p>No escribir tildes.</p>
</form>

<p id="contador" class="centrado">
    <noscript>Para ver el contador, necesitás Javascript.</noscript>
</p>

<script src="~/js/Contador.js" asp-append-version="true"></script>