<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo - Escape Pirata</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header class="clearfix">
        <a href='@Url.Action("")'><img src="~/img/logo.jpeg"></a>
        <p id="contador">
            <noscript>Para ver el contador, necesitás Javascript.</noscript>
        </p>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>&copy;@DateTime.Now.Year David Chinski, Tomás Korngold y Lucas Tjor</p>
    </footer>

    <script src="~/js/Contador.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
