@{
    ViewData["Title"] = "Créditos";
}

<div class="centrado">
    <h1>Créditos</h1>
    
    <img src="~/img/creditos.jpeg">
    <ul class="expandido">
        <li>Tomás "Korgol" Korngold</li>
        <li><a href="https://github.com/DavidChinski">David Chinski</a></li>
        <li><a href="https://github.com/tjor75">Lucas Tjor</a></li>
    </ul>
</div>