@{
    ViewData["Title"] = "Creditos";
}

<div class="centrado">
    <h1>Creditos</h1>
    
    <img src="~/img/Creditos.jpeg">
    <ul class="expandido">
        <li>Tomás "Korgol" Korngold</li>
        <li>David Chinski</li>
        <li>Lucas Tjor</li>
    </ul>

</div>