@{
    ViewData["Title"] = "Derrota";
}

<div class="centrado">
    <h1>Derrotado</h1>
    <p>Te quedaste sin tiempo. Solo esperás lo mejor.</p>
    <img src="~/img/derrota.png" alt="Persona triste">
</div>