@{
    ViewData["Title"] = "Cubierta";
}

<div class="centrado">
    <h1>Cubierta</h1>
    <p>
Al abrir la puerta hacia la tercera sala de la sala de escape, me encuentro transportado a la cubierta del barco pirata. El suelo de madera cruje bajo mis pies mientras navego entre barriles vacíos y redes desgastadas que cuelgan del techo. El ambiente está impregnado con el olor a sal marina y a aventura. A lo lejos, la figura de un timón antiguo y oxidado domina el centro de la cubierta, mientras que en las paredes cuelgan mapas descoloridos y dagas ornamentadas.En esta cubierta encontraras desafios y acertijos con el fin de pasar a la siguiente etapa.
</p>
<p>Buena suerte!!</p>



    <!-- Loro -->
    <!-- [memotest acá] -->

    <form action='@Url.Action("Habitacion")'>
        <p>
            <input type="number" name="sala" value="2" required>
            @if (ViewBag.Error != null) {
                <input type="text" name="clave" placeholder="@ViewBag.Error" required>
                <input class="rebotado" type="submit" value="🔒">
            } else {
                <input type="text" name="clave" placeholder="Clave" required>
                <input type="submit" value="🔒">
            }
        </p>
        <p>No escribir tildes.</p>
    </form>
</div>