@{
    ViewData["Title"] = "Bienvenido/a a bordo";
}

<div class="centrado">
    <h1>Bienvenido/a a bordo</h1>
    <p>Has sido capturado por la temible Capitana Morgana y su tripulaci칩n de despiadados piratas. Te han encerrado en la oscura y h칰meda bodega del 'Kraken Negro', el nav칤o insignia de estos temibles bucaneros.</p>
    <p>Miras a tu alrededor y ves barriles, cajas y sacos apilados por todas partes. El aire huele a madera vieja, p칩lvora y ron. Tienes solo 60 minutos para escapar de este l칰gubre calabozo antes de que los piratas decidan deshacerse de ti.</p>
    <p>Deber치s usar toda tu astucia y habilidad para resolver acertijos, descifrar mapas ocultos, encontrar tesoros escondidos y burlar las trampas que han dispuesto para ti. S칩lo as칤 podr치s recuperar la libertad y escapar de las garras de estos temibles piratas. <i>(aargh)</i></p>
    


    <img src="~/img/H1-Bodega_Amanecer.jpg" alt="Bodega">

    <form action='@Url.Action("Habitacion")'>
        <p>
            <input type="hidden" name="sala" value="1">
            @if (ViewBag.Error != null) {
                <input type="text" name="clave" placeholder="@ViewBag.Error" required>
                <input class="rebotado" type="submit" value="游">
            } else {
                <input type="text" name="clave" placeholder="Clave" required>
                <input type="submit" value="游">
            }
        </p>
        <p>No escribir tildes.</p>
    </form>
</div>