@{
    Layout = "~/Views/Shared/_Habitacion.cshtml";
    ViewBag.Number = 4;
    ViewBag.Titulo = "Sótano";
}

<h1>Sótano</h1>
<p>¡Ahoy, valiente aventurero! Has llegado al oscuro y misterioso sótano del galeón. Aquí se esconde el tesoro más grande, protegido por ingeniosos acertijos y trampas.</p>
<p>Solo los más astutos podrán escapar con el botín.</p>
<p>Nota: Las dos espadas cruzadas no es la letra B, fijate un icono que sea parecido.</p>

<div class="imagenInteractiva">
    <img src="~/img/h4-sotano.jpg" alt="Sótano con pistas">
    <img id="tablaDeCodigos" src="~/img/h4-tabla_de_codigos.jpg" alt="Tabla de códigos">
</div>