@{
    ViewData["Title"] = "Cubierta";
}

<audio id="audioLoro" loop autoplay>
    <source src="~/audio/h3-loros.mp3" type="audio/mpeg" />
</audio>

<div class="centrado">
    <h1>Cubierta</h1>
    <p>Al abrir la puerta te encuentras en la cubierta del barco. El suelo de madera cruje bajo tus pies mientras navegas entre barriles vac칤os y redes desgastadas que cuelgan del techo. El ambiente est치 impregnado con el olor a sal marina. A lo lejos, la figura de un tim칩n antiguo y oxidado domina el centro de la cubierta, mientras que en las paredes cuelgan mapas descoloridos y dagas ornamentadas. Pero un peque침o loro regordete se asoma a la distancia y te propone un juego: deber치s jugar a un memotest imposible para obtener la clave.</p>
    <p>Buena suerte!!</p>

    <div id="cubierta" class="centrado">
        <img id="imagenLoro" src="~/img/h3-loro.gif" alt="Loro pirata">
        <div id="memotest">
            <noscript>
                <p>Lo siento, pero esta parte de la aventura requiere de Javascript. Por favor, habilitelo si quiere continuar.</p>
                <p>Entendemos si de lo contrario desea abandonar el sitio.</p>
            </noscript>
        </div>
    </div>
    
    <form action='@Url.Action("Habitacion")'>
        <p>
            <input type="hidden" name="sala" value="3">
            @if (ViewBag.Error != null) {
                <input type="text" name="clave" placeholder="@ViewBag.Error" required>
                <input class="rebotado" type="submit" value="游">
            } else {
                <input type="text" name="clave" placeholder="Clave" required>
                <input type="submit" value="游">
            }
        </p>
        <p>No escribir tildes.</p>
    </form>
</div>

<script src="~/js/Habitacion3.js" asp-append-version="true"></script>