@{
    ViewData["Title"] = "Index";
}

<div class="centrado">
    <h1>Bienvenido/a a Escape Pirata</h1>
    <div>
        <!-- por hacer: imgs descriptivas + slogan -->
    </div>
    <p><a href='@Url.Action("Creditos")'>Creditos</a></p>
</div>
