@{
    ViewData["Title"] = "Bienvenidos/as";
}

<div id="index">
    <h1>Bienvenidos/as a Escape Pirata</h1>
    <p>Aventurate a zarpar en esta nueva sala de escape con temática pirata. Resolve acertijos, jugá juegos y ¡escapá de la Capitana Morgana! ¿Estás/an listos para emprender esta épica aventura?</p>
    <p id="opcionesIndex">
        <a href='@Url.Action("Comenzar")'>Comenzar</a>
        <a href='@Url.Action("Creditos")'>Créditos</a>
    </p>
    <div>
        <img src="~/img/index-screenshot1.jpg" alt="Screenshot 1">
        <img src="~/img/index-screenshot2.jpg" alt="Screenshot 2">
        <img src="~/img/tesoro.jpg" alt="Screenshot 3">
    </div>
</div>

    