@{
    ViewData["Title"] = "VICTORIA";
}

<div>
    <h1>Felicidades :-) ahora te ganaste este barco pirata</h1>
    <div>
            <!-- por hacer: imgs descriptivas + slogan --> 
    </div>
    <img src = "~/img/barco pirata final.jpg">
    <p><a href='@Url.Action("Creditos")'>Creditos</a></p>
</div>