@font-face {
  font-family: "Beth Ellen";
  src: url("/fonts/Beth_Ellen/BethEllen-Regular.ttf");
}
@font-face {
  font-family: "Cormorant Upright";
  src: url("/fonts/Cormorant_Upright/CormorantUpright-Regular.ttf");
}
@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "Pridi";
  src: url("/fonts/Pridi/Pridi-Regular.ttf");
}



body {
  font-family: "Pridi", serif;
  background-color: #43200a;
  color: #c8c8c6;
  margin: 0%;
}
header {
  display: flex;
  align-items: center;
}
header a[href="/"] {
  width: 5%;
  height: auto;
}
header a[href="/"], nav li {
  margin-right: 5px;
}
nav li {
  padding: 3px;
  border: solid 1px white;
  border-radius: 2px;
}

div { padding: 0 15%; }
div div { padding: 0%; }
p {
  margin: 6px 0;
}

.imagenes-descriptivas-slogan {
  width: 70%;
  height: 60%;
}
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centrado ol li{
  margin: 1.5%;
}

.sotano {
  align-items: stretch;
}
.form {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Beth Ellen", cursive;
}
a {
  color: #c8c8c6;
  text-decoration: none;
  width: auto;
}
a:hover {
  color: #9c9b9b;
}
img {
  width: 100%;
}


input[type=text] {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  background-color: transparent;
  color: #c8c8c6;
  border: none;
  outline: none;
}
input[type=submit] {
  background-color: #c8c8c6;
  border: solid 1px #9c9b9b;
  width: 30px;
  height: 30px;
}
input[type=submit].rebotado {
  background-color: red;
  transition: 0.3s;
}
input[type=submit].rebotado:hover {
  background-color: #c8c8c6;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  width: 100%;
}
.expandido li {
  width:33.33%;
}



.imagenInteractiva {
  position: relative;
  width: 100%;
  height: 100%;
}
.imagenInteractiva img:hover {
  background-image: url("/img/mano.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
  top: 0%;
  left: 0%;
  transition: 0.2s;
}
#pergamino {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 8%;
  transform: rotate(-8deg);
}
#tabla_de_codigos {
  position: absolute;
  top: 72%;
  left: 70%;
  width: 8%;
  transform: rotateX(60deg) rotateY(10deg) rotateZ(50deg);
}
#pergamino:hover {
  top: 15%;
  left: 10%;
  width: 50%;
  transform: rotate(0);
}
#tabla_de_codigos:hover {
  top: 3%;
  left: 58%;
  transform: rotate(0);
  width: 40%;
}


#cubierta {
  background-image: url("/img/h3-cubierta.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
}
#imagenLoro {
  width: 25%;
  height: auto;
}
#memotest {
  width: 100%;
}
.carta {
  width: 19%;
  height: 100px;
  font-size: 42px;
  border: solid 1px #c8c8c6;
  border-radius: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
}
.carta:hover {
  border: solid 1px #9c9b9b;
  transform: rotateX(-10deg) rotateY(10deg);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}
.carta:hover[disabled="true"] {
  transform: rotate(0);
  box-shadow: none;
}
.carta.reverso {
  color: #c8c8c6;
  background-color: #361d09; 
}
.carta.anverso {
  color: #361d09;
  border: solid 1px #9c9b9b;
}


footer {
  background-color: #361d09;
  padding: 5px;
}
footer p {
  margin: 6px 0;
}