@font-face {
  font-family: "Beth Ellen";
  src: url("/fonts/Beth_Ellen/BethEllen-Regular.ttf");
}
@font-face {
  font-family: "Cormorant Upright";
  src: url("/fonts/Cormorant_Upright/CormorantUpright-Regular.ttf");
}
@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "Pridi";
  src: url("/fonts/Pridi/Pridi-Regular.ttf");
}



body {
  font-family: "Pridi", serif;
  background-color: #43200a;
  color: #c8c8c6;
  margin: 0%;
}
header {
  display: flex;
  align-items: center;
}
header a[href="/"] {
  width: 5%;
  height: auto;
}
header a[href="/"], nav li {
  margin-right: 5px;
}
nav li {
  padding: 3px;
  border: solid 1px white;
  border-radius: 2px;
}

div { padding: 0 15%; }
div div { padding: 0%; }
p {
  margin: 6px 0;
}

.imagenes-descriptivas-slogan{
  width: 70%;
  height: 60%;
}
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centrado ol li{
  margin: 1.5%;
}

h1 {
  font-family: "Beth Ellen", cursive;
}
a {
  color: #c8c8c6;
  text-decoration: none;
  width: auto;
}
a:hover {
  color: #9c9b9b;
}
img {
  width: 100%;
}


input[type=text] {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  background-color: transparent;
  color: #c8c8c6;
  border: none;
  outline: none;
}
input[type=submit] {
  background-color: #c8c8c6;
  border: solid 1px #9c9b9b;
  width: 30px;
  height: 30px;
}
input[type=submit].rebotado {
  background-color: red;
  transition: 0.3s;
}
input[type=submit].rebotado:hover {
  background-color: #c8c8c6;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  width: 100%;
}
.expandido li {
  width:33.33%;
}


#imagen_interactiva {
  position: relative;
  width: 100%;
  height: 100%;
}


footer {
  background-color: #361d09;
  padding: 5px;
}
footer p {
  margin: 6px 0;
}